.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
secrets.txt
images
machine-learning/env
machine-learning/data
__pycache__
api/node_modules
lambda/*.zip
lambda/*/node_modules/
